### IntelliJ IDEA ###
/out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/build/
# 项目排除路径
/Agent/target/
/Builder/target/
/Core/target/
/Injector/target/
/Loader/target/
/Loader/dll/build/
/Loader/dll/cmake-build-debug/
/Loader/dll/.idea/
